---
import "../styles/global.css";

import Navbar from "@components/navbar.astro";
import Footer from "@components/footer.astro";

interface DSAItem {
	name: string;
	description: string;
	link: string;
}

const COMMISSION_URL = "https://forms.gle/qJoRmBMT5kUgffUBA";
const DSA_COLLECTION: DSAItem[] = [
	{
		name: "Heavy-Light Decomposition",
		description: "Update and query tree paths efficiently by decomposing the tree into heavy and light edges.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/range_query/heavy_light_decomposition.hpp",
	},
	{
		name: "Lowest Common Ancestor",
		description: "Special implementation of LCA with O(N) preprocessing and O(1) query time.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/graph/lowest_common_ancestor.hpp",
	},
	{
		name: "Lazy Segment Tree",
		description: "Efficient range update and queries, along with binary searching using iterative tree traversal.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/range_query/segment_tree_lazy.hpp",
	},
	{
		name: "Aho-Corasick",
		description: "Match multiple patterns in a text simultaneously with a trie automaton.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/string/aho_corasick.hpp",
	},
	{
		name: "Rolling Hash",
		description: "Quickly compute polynomial hashes of substrings.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/string/rolling_hash.hpp",
	},
	{
		name: "Mo's Algorithm on Trees",
		description: "Offline computation of path queries with Mo's algorithm adapted for trees.",
		link: "https://github.com/celonymire/competitive-programming/blob/master/include/celony/graph/mo_tree.hpp",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Sam Huang</title>
	</head>
	<body>
		<Navbar />
		<div
			id="avatar-cam"
			class="relative flex items-center gap-48 overflow-hidden border-10 border-yellow-500 bg-black px-40 py-10"
		>
			<img class="h-auto w-[600px] rounded-lg" src="/images/home/avatar-cams/Demo.gif" alt="Avatar Cam Demo" />
			<div class="w-full self-center text-white">
				<h1 class="mb-10 text-5xl font-extrabold">CREATE YOUR PERSONA</h1>
				<p class="mb-10 text-xl/8 font-light tracking-wide">
					Bring your content and online presence with personalized Avatar Cam to a new level. Avatar Cam utilizes 2D
					art, bringing unique visual customization and interactivity to the table. Features to enhance interactivity
					include animations, controller input, and <span class="highlight px-1.5 font-extrabold">NEW</span>
					Twitch Integration!
					<a href={COMMISSION_URL} class="font-extrabold underline">Request a commission</a>
					today!
				</p>
				<p class="text-xl tracking-wide">
					Learn more about its features and showcases <a href="/avatar-cam" class="underline">here</a>
				</p>
			</div>
		</div>
		<div id="dsa-collection" class="relative gap-48 overflow-hidden bg-gray-800 px-40 py-10">
			<h1 class="mb-10 text-center text-5xl font-extrabold text-white">Personal DSA Collection</h1>
			<ul class="mb-10 flex flex-wrap justify-center gap-12 text-white">
				{
					DSA_COLLECTION.map((item) => (
						<li class="dsa-item max-w-[350px] min-w-[200px] rounded-lg p-3 transition-colors duration-250 ease-in-out">
							<a class="text-xl font-extrabold" href={item.link}>
								{item.name}
							</a>
							<p class="mt-2 text-sm leading-snug">{item.description}</p>
						</li>
					))
				}
				<li class="inline-flex self-center bg-white px-2.5 py-1.5 text-2xl font-extrabold text-black">
					<img
						class="mr-2.5 h-8 w-8"
						src="https://img.icons8.com/?size=100&id=12599&format=png&color=000000"
						alt="GitHub"
					/>
					<a class="text-2xl font-extrabold" href="https://github.com/celonymire/competitive-programming">AND MORE!</a>
				</li>
			</ul>
			<div class="flex justify-evenly">
				<div class="flex self-center">
					<img
						class="mr-2.5 h-12 w-12"
						src="https://img.icons8.com/?size=100&id=iOFVfD3gi7w6&format=png&color=000000"
						alt="Axe"
					/>
					<h1 class="self-center text-[2rem] font-extrabold text-white">Tested</h1>
				</div>
				<div class="flex self-center">
					<img
						class="mr-2.5 h-12 w-12"
						src="https://img.icons8.com/?size=100&id=QDgnZW9BLy1H&format=png&color=000000"
						alt="Scroll"
					/>
					<h1 class="self-center text-[2rem] font-extrabold text-white">Documented</h1>
				</div>
				<div class="flex self-center">
					<img
						class="mr-2.5 h-12 w-12"
						src="https://img.icons8.com/?size=100&id=YVToA9CPXtKW&format=png&color=000000"
						alt="Module"
					/>
					<h1 class="self-center text-[2rem] font-extrabold text-white">Modularized</h1>
				</div>
				<div class="flex self-center">
					<img
						class="mr-2.5 h-12 w-12"
						src="https://img.icons8.com/?size=100&id=iRpUJX5thBgS&format=png&color=000000"
						alt="Utility"
					/>
					<h1 class="self-center text-[2rem] font-extrabold text-white">Comprehensive</h1>
				</div>
			</div>
		</div>
		<div
			id="vscode-fastolympiccoding"
			class="relative flex items-center gap-48 overflow-hidden bg-blue-950 px-40 py-10"
		>
			<img
				class="h-auto w-[600px] rounded-lg border-4 border-white shadow-[0_0_10px_rgba(0,0,0,0.5)]"
				src="/images/home/demo.gif"
				alt="Fast Olympic Coding Demo"
			/>
			<div class="w-full self-center text-white">
				<a class="mb-10 block text-4xl font-extrabold" href="https://github.com/celonymire/vscode-fastolympiccoding"
					>VSCode + Fast Olympic Coding</a
				>
				<p class="text-xl font-light tracking-wide">
					A VSCode extension to complement your setup. Straight forward to configure for any language, whether compiled
					or interpreted. Packed with utilities including inserting library code without leaving the file, support for
					Competitive Companion to quickly insert sample tests, and built-in stress tester for sanity checks. Great
					extension to check out for VSCode users.
				</p>
			</div>
		</div>
	</body>
	<Footer />
</html>

<script>
	const BORDER_WIDTH = 10;
	const SPARKLE_SIDE_LENGTH = 60;
	const FADE_SECONDS = 0.5;

	const avatarCamDiv = document.getElementById("avatar-cam")!;
	const createSparkle = () => {
		const sparkle = document.createElement("img");
		sparkle.src = "https://img.icons8.com/?size=100&id=qdQpy48X3Rjv&format=png&color=000000";
		sparkle.classList.add("shiny-star");
		sparkle.style.position = "absolute";
		sparkle.style.width = `${SPARKLE_SIDE_LENGTH}px`;
		sparkle.style.height = `${SPARKLE_SIDE_LENGTH}px`;
		sparkle.style.pointerEvents = "none";
		sparkle.style.zIndex = "500";
		sparkle.style.animation = `fade-in ${FADE_SECONDS}s forwards, fade-out ${FADE_SECONDS}s ${FADE_SECONDS}s forwards`;

		return sparkle;
	};
	const addSparkle = () => {
		const sparkle = createSparkle();
		const width = avatarCamDiv.clientWidth;
		const height = avatarCamDiv.clientHeight;

		const side = Math.floor(Math.random() * 4);
		let x, y;
		switch (side) {
			case 0: // top
				x = BORDER_WIDTH + Math.random() * width - SPARKLE_SIDE_LENGTH / 2;
				y = -BORDER_WIDTH - SPARKLE_SIDE_LENGTH / 2;
				break;
			case 1: // right
				x = BORDER_WIDTH + width - BORDER_WIDTH / 2 - SPARKLE_SIDE_LENGTH / 2;
				y = BORDER_WIDTH + Math.random() * height - SPARKLE_SIDE_LENGTH / 2;
				break;
			case 2: // bottom
				x = BORDER_WIDTH + Math.random() * width - SPARKLE_SIDE_LENGTH / 2;
				y = BORDER_WIDTH + height - SPARKLE_SIDE_LENGTH / 2;
				break;
			case 3: // left
				x = -BORDER_WIDTH - SPARKLE_SIDE_LENGTH / 2;
				y = BORDER_WIDTH + Math.random() * height - SPARKLE_SIDE_LENGTH / 2;
				break;
		}

		sparkle.style.left = `${x}px`;
		sparkle.style.top = `${y}px`;

		avatarCamDiv.appendChild(sparkle);
		setTimeout(() => {
			avatarCamDiv.removeChild(sparkle);
		}, 1000);
	};

	const sparkleWorker = new Worker("/scripts/interval-notifier-worker.js");
	sparkleWorker.onmessage = (e) => {
		if (e.data.type === "interval") {
			addSparkle();
		}
	};
	setTimeout(() => {
		sparkleWorker.postMessage({ type: "start", data: { interval: 250 } });
	}, 500);
</script>

<style>
	.highlight {
		background: linear-gradient(230deg, gold, red);
		background-clip: text;
		color: transparent;
		border: 2px solid;
		border-image: linear-gradient(230deg, gold, red) 1;
		display: inline-block;
		line-height: 1;
		padding-bottom: 3px;
	}

	#dsa-collection::before {
		content: "";
		position: absolute;
		inset: 0;
		background-image:
			repeating-linear-gradient(45deg, #1f2937 0px, #1f2937 20px, #374151 20px, #374151 40px),
			repeating-linear-gradient(-45deg, #1f2937 0px, #1f2937 20px, #374151 20px, #374151 40px);
		background-blend-mode: multiply;
		opacity: 0.6;
		pointer-events: none;
		z-index: 0;
	}

	#dsa-collection > * {
		position: relative;
		z-index: 1;
	}

	#vscode-fastolympiccoding::before {
		content: "";
		position: absolute;
		inset: 0;
		background-image:
			repeating-linear-gradient(45deg, #1f2937 0px, #1f2937 20px, #374151 20px, #374151 40px),
			repeating-linear-gradient(-45deg, #1f2937 0px, #1f2937 20px, #374151 20px, #374151 40px);
		background-blend-mode: multiply;
		opacity: 0.6;
		pointer-events: none;
		z-index: 0;
	}

	#vscode-fastolympiccoding > * {
		position: relative;
		z-index: 1;
	}

	.dsa-item:hover {
		background-color: white;
	}

	.dsa-item a,
	.dsa-item p {
		transition: color 0.25s ease;
	}

	.dsa-item:hover a,
	.dsa-item:hover p {
		color: black;
	}

	@keyframes move-gradient {
		0% {
			background-position: 0 50%;
		}
		100% {
			background-position: var(--period) 50%;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>
